In [6]:
print("hello wrold")

hello wrold

In [10]:
x=10
print(type(x))
print(x)
print(f"Value of x is {x}")

<class 'int'>
10
Value of x is 10

In [15]:
y = "123"
print(type(y))
print(y)

z = int(y)
print(type(z))
print(z)

<class 'str'>
123
<class 'int'>
123

In [22]:
list1 = [10, 20, 30]

list1[1] = 22

print(type(list1))
for item in list1:
    print(item)

print(len(list1))

list1.append(40)
print(list1)

<class 'list'>
10
22
30
3
[10, 22, 30, 40]

In [ ]:
tple1 = (11, 22, 33)

print(type(tple1))
print(tple1)
print(tple1[1])

for item in tple1:
    print(item)

print(len(tple1))

<class 'tuple'>
(11, 22, 33)
22
11
22
33
3